:root {
  --main-color: #006eff;
  --danger-color: #e74c3c;
  --text-color: #333;
  --bg-color: #f5f7fa;
  --table-header-bg: #90acff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: monospace; */
  font-family: var(--sm_font_16);
}

body {
  background: var(--bg-color);
  padding: 20px;
  color: var(--text-color);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 98%;
  max-width: 100rem;
  justify-self: center;
}

.h1 {
  color: var(--main-color);
  font-size: 2.2rem;
  font-weight: bolder;
}

button.logout {
  background: var(--danger-color);
  border: none;
  color: #fff;
  padding: 7px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button.logout:hover {
  background: #c0392b;
}

.searchBar_wraper{
  display: flex;
  width: 100%;
  justify-content: center;
}

.searchBar{
  margin-bottom: 10px;
  padding: 7px 20px;
  width: 70vw;
  max-width: 25rem;
  border-radius: 30px;
  border: 1px solid #7588a556;  
  text-align: center;
  /* position: sticky; */
  /* top: 1rem; */
}

.highlight {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
}


.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 10px;
    width: 95%;
    max-width: 100rem;
    margin: auto;
    border: 2px solid #7588a5;
    /* padding: 10px; */
    border-radius: 5px;
    height: 70vh;
}

@media (max-width: 768px) {
  .table-container {
    margin: 0 10px;
    width: 100%;
    max-width: 100rem;
    margin: auto;
    border: 2px solid #7588a5;
    /* padding: 10px; */
    border-radius: 5px;
    height: 70vh;
}
}


table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  overflow-x: scroll;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  border: 1px solid #00000034;
  border-radius: 10px;
  /* width: 95%; */
  /* max-width: 100rem; */
  /* justify-self: center; */

}
thead > tr{
  border-bottom: 1px solid #00000046;
}

th, td {
  padding: 14px 16px;
  text-align: left;
  /* word-break: break-word; */
  word-break: normal;
  white-space: nowrap;
}

tr:nth-child(odd){
  background-color: whitesmoke;
}

tr:nth-child(even){
  background-color: #9fffea2d;
}

.td_realURL{
  white-space: normal;

}

.td_srtURL{
  white-space: nowrap;
}

.center_Td_TH{
  text-align: center;
}

td a{
    font-family: monospace;
    font-size: .92rem;
}

tr{
    border-radius: 10px;
    border-bottom: 1px solid #00000025;

}
th {
    background: var(--table-header-bg);
    font-size: 1.3rem;
}
thead th{
    /* text-align: center; */
    position: sticky;
    top: 0; /* শীর্ষে স্থির করে রাখবে */
    z-index: 1; /* স্টেটিক অংশ উপরে থাকবে */
}

a {
  color: var(--main-color);
  text-decoration: none;
}


/* স্ক্রলবার সৌন্দর্যময় করা */
.table-container::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* স্ক্রলবারের পিছনের ব্যাকগ্রาวন্ড */
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #006effe1; /* স্ক্রলবারের রঙ */
    border-radius: 15px; /* স্ক্রলবারের কোণ বায়ুমণ্ডলীয় */
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #006eff; /* মাউস ওভার সময় রঙ বদলে যাবে */
  }

.btn-del {
  color: var(--danger-color);
  cursor: pointer;
  font-weight: bold;
}

.btn-del:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  margin-top:10vh;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  /* display: none; */
}

.footer a {
  color: #555;
  text-decoration: none;
  /* font-weight: 500; */
}

.footer a,
.footer p{
    font-size: 0.8rem;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  th, td {
    font-size: 14px;
    padding: 10px;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  button.logout {
    margin-top: 10px;
    width: 100%;
  }
}
