
.pre-loader {
    /* background: #020618 url(/assets/files/load-2.gif) no-repeat center center ; */
    background: #020618dc url(/assets/files/load-2.gif) no-repeat center center ;
    background-size: clamp(4rem, 20%, 8rem) auto;
    backdrop-filter: blur(10px);
    /* background-size: 20vw; */
    height: 100vh;
    width: 100%;
    position: fixed;
    top: -1; bottom: 0; right: 0; left: 0;
    z-index: 10000;
    transition: all .5s ease;
}